@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);
body,
header .logo {
  display: block;
}
body,
footer {
  background-color: #000;
}
footer a:before,
header a:before {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 2px;
  background: #fff;
}
:root {
  --color-dark: #19191e;
  --color-bright-1: #c3343f;
  --color-bright-2: #fbb90f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  color: #fff;
}
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
header {
  position: relative;
  padding: 25px 50px;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header .logo {
  height: 50px;
}
footer a,
header a {
  position: relative;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
header .navbar a {
  margin-left: 25px;
}
header a:before {
  left: 0;
  transition: 0.3s;
}
footer a:hover:before,
header .navbar .full-width:before,
header a:hover:before {
  width: 100%;
}
#menu-toggle,
.menu {
  display: none;
}
@media (max-width: 1100px) {
  .menu-icon .bottom,
  .menu-icon .middle,
  .menu-icon .top {
    height: 12%;
    background: #fff;
  }
  .menu-icon .bottom,
  .menu-icon .middle,
  .menu-icon .top,
  header .navbar {
    position: absolute;
    width: 100%;
    transition: 0.3s;
  }
  .menu {
    display: block;
  }
  .menu-icon {
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  .menu-icon .middle {
    top: 44%;
  }
  .menu-icon .bottom {
    top: 88%;
  }
  #menu-toggle:checked ~ .menu .menu-icon .top {
    bottom: 88%;
    width: 124%;
    right: 6%;
    transform: rotate(-45deg);
    transform-origin: right;
  }
  #menu-toggle:checked ~ .menu .menu-icon .middle {
    opacity: 0;
  }
  #menu-toggle:checked ~ .menu .menu-icon .bottom {
    width: 124%;
    right: 6%;
    bottom: 88%;
    transform: rotate(45deg);
    transform-origin: right;
  }
  header .navbar {
    padding: 0 50px;
    top: 100%;
    left: 0;
    height: 0;
    background-color: #000;
    overflow: hidden;
  }
  #menu-toggle:checked ~ .navbar {
    height: 275px;
  }
  header .navbar a {
    margin: 0;
    padding: 10px 0;
    display: block;
    text-align: center;
    border-top: 1px solid #fff;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.2s;
  }
  #menu-toggle:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.05s * var(--i));
  }
}
footer {
  padding: 25px 0;
}
footer ul {
  margin: 0 37.5px 12.5px;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}
footer ul li {
  display: inline-block;
  margin: 0 12.5px;
}
footer ul li a:hover {
  opacity: 1;
}
footer a:before {
  transition: 0.3s;
}
footer .copyright {
  margin: 0 50px;
  text-align: center;
  color: #fff;
}
footer hr {
  border: 0;
  border-bottom: 1px solid #fff;
}
footer .copyright p {
  margin-top: 12.5px;
  text-align: center;
  font-size: 15px;
}
@media (max-width: 500px) {
  .menu-icon,
  header .logo {
    height: 25px;
  }
  header {
    padding: 25px;
  }
  .menu-icon {
    width: 25px;
  }
  header .navbar {
    padding: 0 25px;
  }
  footer {
    padding: 25px 0;
  }
  footer ul {
    margin: 0 5px 25px;
  }
  footer ul li {
    margin: 0 5px;
  }
  footer .copyright {
    margin: 0 10px;
  }
}
